<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <display-name>JAX-RS Servlet</display-name>
        <servlet-name>tamil</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>my.interest.tamil.webapp.MyApplication</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>my.interest.tamil.webapp.NoCacheFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>my.interest.tamil.rest.resources.filters.TamilContainerFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>load-on-startup</param-name>
            <param-value>1</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>tamil</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <login-config/>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>my.interest.tamil.webapp.servlet.LifeCycleListener</listener-class>
    </listener>


</web-app>
