<div class="page-header">
  <h2>உங்களை பங்களிப்பை வரவேற்கிறோம் </h2>
</div>

<p class="lead">மென்பொருள் நிரலர்கள் / வல்லுநர்கள்</p>

<blockquote>
எங்கள்  GitHub களஞ்சியத்தில்,  நிரலாக்கம்  /  இடர்நீக்கம் / கருத்துரைத்து பங்களிக்கலாம்.
<footer>Repository<code>களஞ்சியம்</code><cite title="Source Title">
<a target="_blank" href=" https://github.com/velsubra/Tamil"> https://github.com/velsubra/Tamil</a></cite>
</footer>
</blockquote>

<p>தமிழ்கணிணிமையில் நீங்கள்   எதிர்கொண்ட சிக்கல்கள்  /   பிழைகள் , 
கருத்துகள்  விடயங்கள் பற்றி இந்த முகநூல்-குழுமத்தில் பகிரலாம்.</p>
<div>
<a target="_blank" href="https://www.facebook.com/groups/631787513634725">
<img  height="30px;" src="../app/img/facebookgroup.jpg"></img> 
Develop Tamil Platform</a></div>
<hr> 
<p class="lead">தமிழார்வலர்கள்</p>
<p>புதிய யோசனைகளையும் தமிழிலக்கணம், புணர்ச்சிபற்றிய கருத்துகளையும் இந்த
 முகநூல்-குழுமத்தில் பகிரலாம்.</p>
<div> <a target="_blank" href="https://www.facebook.com/groups/ponmudivadivel/">
 <img  height="30px;" src="../app/img/facebookgroup.jpg">
 </img>Ponmudivadivel</a></div>
 <p class="info">
</p>
