<div ng-controller="featureController">
<div class="container">
<div class="row">
	<div class="col-sm-4">	
	 <button type="button" class="btn btn-default btn-md">இலக்கணமறிக
	 <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></button>	
	</div>
	<div class="col-sm-4">
	<button type="button" class="btn btn-default btn-md">பகுக்க
	 <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></button>	
	</div>	
	<div class="col-sm-4">
	<button type="button" class="btn btn-default btn-block">புணர்த்த
	 <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></button>	
	</div>		
</div>
<hr>
<div class="row">
	<div class="col-sm-4">
		<button type="button" class="btn btn-default btn-md">பிரிக்க
	 <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></button>	
	</div>
</div>
</div>
</div>