<div class="container features">
<h2>சோதனை-பயன்மிகளின் பட்டியல்</h2>
<div class="row">
<div class="col-md-3">
<div><h4>
<span class="label label-info">#ஒரு சொல் பயன்மிகள்</span></h4></div>
<div class="btn-group-vertical btn-block"" role="group" aria-label="...">
  <a class="btn btn-default btn-lg" ui-sref="describeword" role="button">இலக்கணமறிக</a>
  <button type="button" class="btn btn-default btn-lg" ui-sref="parse">பகுக்க</button>  
  <button type="button" class="btn btn-default btn-lg" ui-sref="split">பிரிக்க</button>  
</div>
</div>
<div class="col-md-offset-1 col-md-3">
<div><h4>
<span class="label label-info">#பலசொல்-பயன்மிகள்</span>
</h4></div>
<div class="btn-group-vertical btn-block"" role="group" aria-label="...">
   <button type="button" class="btn btn-default btn-lg">புணர்த்த</button>  
</div>
</div>
</div>
</div>