<h3>நோக்கம் </h3>
<blockquote>
  <p>தமிழை புரிந்துகொள்ளுகிற ஒரு தளமென்பொருளை <mark>[platform]</mark> உருவாக்குதல்.</p>
</blockquote>

<h3>யாருக்கு / என்ன  பயன் ?</h3>
<blockquote>ஒரு <code>சோதனைத்தளம்</code>, கடைநிலைப்பயனுக்கல்ல</blockquote>
<p> ஒரு குறிப்பிட்ட கடைநிலைப்பயன்பாட்டிற்காகமட்டுமே உருவாக்கப்படும் மென்பொருளல்ல. பலவிதமான பயன்பாடுகளைக்கொண்ட தமிழ்மென்பொருட்களை இதன்மேல் பிற்காலத்திலுருவாக்க இதுவொரு தளமாக அமையவேண்டுமென்பதே இதனுடைய அடிப்படைநோக்கம். எனவே, இந்தச்செயலியில் காணப்படும் பக்கங்கள் கடைநிலைப்பயன்பாட்டாளர்களுக்கானவையல்ல. இந்தச்செயலியை அதனுடைய நோக்கத்தை எட்டவைக்க உதவக்கூடிய தமிழார்வலர்களுக்கானவை அவை. </p>



சில பக்கங்கள் (எ.கா தமிழ்த்திருத்தி ) போன்றவை கடைநிலைப்பயன்பாட்டைக்கொடுத்தாலும் அந்தத்திருத்தி ஒரு சோதனைத்தளமாகவே <mark>[test-bed or a reference implementation]</mark> பயன்படுகிறது. 

ஒரு வலுவான தமிழ்த்திருத்தியை செய்யவிரும்புபவர்கள் தாராளமாக செய்யலாம். இந்தத்தளம் <mark>[platform]</mark>  அதற்கு தேவையான 
<mark>REST APIs</mark> களைக்கொடுக்கும். ஓரழகான மற்றும் வலுவான தமிழ்த்திருத்தியை இத்தளங்கொடுக்குஞ்சேவைகளைப்பயன்படுத்தி உருவாக்க ஆவல்கொண்டவர்கள்

