<div ng-controller="tamilWordParseController">
<h2>தொடர்மொழியின் பகுப்பாய்வு </h2>
<div class="container">
<d-transliteration-input selected-word='wordToParse'></d-transliteration-input>
<div>
<button type="button" class="btn btn-primary" ng-click="parseWord()">
<strong>பகு</strong>
</button>
<div class="describe-results">
	<div><strong>முடிவுகள் :</strong><span ng-show="isLoading">காத்திருங்கள் தேடுதல் நடக்கிறது !</span>
	<ol>
		<li style="padding:5px; margin:10px" ng-repeat="splitList in parseResults">		
			<span ng-repeat="word in splitList">
				<span> {{word}}</span>
				<span class="glyphicon glyphicon-plus" ng-show="!$last"></span>
			<span>
		</li>
	 <ol>
	</div>
	</div>
</div>
</div>
</div>
</div>